<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEBlBdUgZTPVyEu0pZ49euwkz9FTUFXWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>358865722949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineEvents.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>online-appen</string>
	<key>STORAGE_BUCKET</key>
	<string>online-appen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358865722949:ios:c40eb05ca5ca7d9ba84d2c</string>
</dict>
</plist>